---
// Redirect to the default locale (ru) using meta refresh
---
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/ru" />
  </head>
 <body>
    <p>Redirecting to <a href="/ru">/ru</a>...</p>
  </body>
</html>
